<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Photoshop Templates</title>
</head>
<body>
<h1>Welcome to Photoshop Templates Site</h1>

<div class="main" th:each="card: ${cards}">
    <div class="title">
        <h2 th:text="${card.title}">Title</h2>
    </div>
    <div class="date" th:text="${card.date}">Date</div>
    <div class="category">
        Category: <a href="" th:text="${groups.get(card.groupId)}">Group</a>
    </div>
    <div class="description" th:text="${card.description}">Description</div>

    <div class="meta">
        <div class="dpi"><span th:text="${card.meta.dpi}">Dpi</span> dpi</div>
    </div>
    <div class="link">
        <a th:href="${card.link}">Download</a>
    </div>
    <br/>
</div>

</body>
</html>
